.ChooseGame table {
  cursor: pointer;
}

.ChooseGame tr {
  background-color: white;
  height: 2em;
}

.ChooseGame tr>td {
  padding: 1em;
  width: 80vw;
}

.ChooseGame .selected-tr {
  background-color: #985b9c ;
  color: white;
  font-weight: bold ;
}

.ChooseGame .component-element-container {
  padding: 1em;
  border: 5px solid rgba(152,91,156,0.1);
  background-color: rgba(152,91,156,0.3);
}
