.ChooseGame table {
  cursor: pointer;
}

.ChooseGame tr {
  background-color: white;
}

.ChooseGame tr>td {
  padding: 1em;
  width: 8em;
}

.ChooseGame .selected-tr {
  background-color: #985b9c ;
  color: white;
  font-weight: bold ;
}

