.ChooseName .logo {
  display: block;
  text-align: center;
}

.ChooseName .logo>img {
  margin-top: 5em;
  height: 5em;
}

.ChooseName .logo>p {
  font-size: 3.5em;
  margin-top: 0;
  color: white;
  text-shadow: 0 0 4px black;
}

.ChooseName input {
  height: 3em;
  border-radius: 5px;
  width: 70%;
  text-align: center;
  border: 3px solid white;
}

.ChooseName input:focus {
  outline: none;
  border: 3px solid #985b9c;
  box-shadow: 5px 5px 13px 1px rgba(0,0,0,0.9);
}
