html *
{
  font-size: 1em;
  font-family: AA Zuehlke, sans-serif;
}

.app-container {
  height: 100vh;
}

.schwarzwald-background{
  background-image: url("links/schwarzwald.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.component-element-container {
  margin: 1em;
}

h2 {
  background-color: white;
  padding: 1em;
  border-radius: 5px;
  color: #985b9c;
  text-align: center;
}

h3 {
  font-weight: normal;
  margin: unset;
}

.button-container {
  min-height: 8em;
  padding-top: 3em;
}

button {
  background-color: #985b9c;
  color: white;
  border-radius: 2em;
  height: 3em;
  border: none;
  padding-right: 2em;
  padding-left: 2em;
  box-shadow: 5px 5px 13px 1px rgba(0,0,0,0.9);
  margin: 1em;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  box-shadow: none;
}

.full-height {
  height: 100vh;
}

.flex-container {
  display: flex;
}

.flex-flow-column {
  flex-flow: column;
}

.flex-flow-row {
  flex-flow: row;
}

.flex {
  flex: 1 1 auto;
}

.flex-grow {
  flex-grow: 1;
  flex-shrink: 0;
}

.flex-shrink {
  flex-grow: 0;
  flex-shrink: 1;
}

.overflow-hidden {
  overflow: hidden;
}

.scroll {
  overflow: auto;
}

.height-100-percent {
  height: 100%;
}

.align-items-center {
  align-items: center;
}

.center {
  text-align: center;
}

.big-space-top {
  margin-top: 7em;
}

.space-top {
  margin-top: 4em;
}

.margin-left {
  margin-left: 2em;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background: #985b9c;
  border-radius: 10px;
}
