html *
{
  font-size: 1em;
  font-family: AA Zuehlke, sans-serif;
}

.app-container {
  height: 100vh;
}

.schwarzwald-background{
  background-image: url("links/schwarzwald.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  margin: 1em;
  height: 2em;
}

.header > img {
  height: 2em;
  width: 2em;
}

.component-element-container {
  margin: 1em;
  padding: 1em;
  border: 5px solid rgba(152,91,156,0.1);
  background-color: rgba(152,91,156,0.3);
}

input {
  height: 3em;
  border-radius: 5px;
  width: 70%;
  text-align: center;
  border: 3px solid white;
}

input:focus {
  outline: none;
  border: 3px solid #985b9c;
  box-shadow: 5px 5px 13px 1px rgba(0,0,0,0.9);
}

button {
  background-color: #985b9c;
  color: white;
  border-radius: 2em;
  height: 3em;
  border: none;
  padding-right: 2em;
  padding-left: 2em;
  box-shadow: 5px 5px 13px 1px rgba(0,0,0,0.9);
  margin: 1em;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  box-shadow: none;
}

.full-height {
  height: 100vh;
}

.flex-container {
  display: flex;
}

.flex-flow-column {
  flex-flow: column;
}

.flex-flow-row {
  flex-flow: row;
}

.flex-grow {
  flex-grow: 1;
  flex-shrink: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.scroll {
  overflow: auto;
}

.height-100-percent {
  height: 100%;
}

.align-items-center {
  height: 100%;
  align-items: center;
  justify-content: center;
}

.center {
  text-align: center;
}

.big-space-top {
  margin-top: 7em;
}

.space-top {
  margin-top: 4em;
}

.margin-left {
  margin-left: 2em;
}
