html *
{
  font-size: 1em;
  font-family: AA Zuehlke, sans-serif;
}

.app-container {
  height: 100vh;
}

input {
  height: 3em;
  border-radius: 5px;
  width: 70%;
  text-align: center;
  border: 3px solid white;
}

input:focus {
  outline: none;
  border: 3px solid #985b9c;
  box-shadow: 5px 5px 13px 1px rgba(0,0,0,0.9);
}

button {
  display: block;
  background-color: #985b9c;
  color: white;
  border-radius: 2em;
  height: 3em;
  width: 5em;
  margin-right: auto;
  margin-left: auto;
  border: none;
  box-shadow: 5px 5px 13px 1px rgba(0,0,0,0.9);
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  box-shadow: none;
}

.flex-container {
  display: flex;
}

.big-space-top {
  margin-top: 7em;
}

.space-top {
  margin-top: 4em;
}

.center {
  text-align: center;
}

.logo {
  display: block;
  text-align: center;
}

.logo>img {
  margin-right: 10px;
  margin-top: 5em;
  height: 5em;
}

.logo>p {
  font-size: 4em;
  margin-top: 0;
  color: white;
}

.schwarzwald-background{
  background-image: url("links/schwarzwald.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
